    <div class="Pm1">
    <h3>&ensp;Corporate Menu</h3>
    </div>



    <div class="container">
    <div class="row row-cols-1 row-cols-lg-4 g-2 g-lg-3">
    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 1<br>CBR01<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>Idly 2</strong></li>
    <li><strong>Vada 1</strong></li>
    <li><strong>Pongal</strong></li>
    <li><strong>Sambar</strong></li>
    <li><strong>Chutney</strong></li>

    </ul>
    </div>
    </div>


    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast<br>CBR02<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>Idly 2</strong></li>
    <li><strong>Idiyappam 2</strong></li>
    <li><strong>Kurma</strong></li>
    <li><strong>Sambar &amp; Chutney</strong></li>


    </ul>
    </div>

    </div>

    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 3<br>CBR03<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>Idly 2</strong></li>
    <li><strong>Vada 1</strong></li>
    <li><strong>Kichidi</strong></li>
    <li><strong>Sambar</strong></li>
    <li><strong>Chutney</strong></li>


    </ul>
    </div>
    </div>

    <div class="col">
    <div class="p-3 border bg-light">

    <h3>Breakfast 4<br>CBR04<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>Idly 2</strong></li>
    <li><strong>Sambar</strong></li>
    <li><strong>Chutney</strong></li>
    <li><strong>Poori 2</strong></li>
    <li><strong>Aloo Masala</strong></li>


    </ul>
    </div>
    </div>

    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 5<br>CBR05<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>

    <ul>
    <li><strong>Kal Dosa 3</strong></li>
    <li><strong>Sambar</strong></li>
    <li><strong>Chutney-2</strong></li>
    <li><strong>Methu Vada-1</strong></li>

    </ul>
    </div>
    </div>

    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 6<br>CBR06<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>

    <ul>
    <li><strong>Kichidi</strong></li>
    <li><strong>Sambar</strong></li>
    <li><strong>Chutney-2</strong></li>
    <li><strong>Methu Vada-1</strong></li>
    </ul>
    </div>
    </div>

    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 7<br>CBR07<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>Idly-4</strong></li>
    <li><strong>Sambar</strong></li>
    <li><strong>Chutney-2</strong></li>
    <li><strong>Methu Vada-1</strong></li>
    </ul>
    </div>
    </div>

    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 8<br>CBR08<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>Poori-4</strong></li>
    <li><strong>Aloo Sabji</strong></li>
    <li><strong>Chutney-1</strong></li>
    <li><strong>Methu Vada-1</strong></li>
    </ul>
    </div>
    </div>

    <div class="ending-of-selectevent">
        <a [routerLink]="['orderpage']"><button class="btn btn-success" type="submit">Book Here</button></a>
    </div>

    </div>
    </div>
