* {
  font-family: 'Poppins';
}

#centertext {
  position: absolute;
  width: 100px;
  height: 32px;
  margin-left: 480px;
  margin-top: 120px;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  white-space: nowrap;
  color: black;
}

#bg {
  position: absolute;
  left: 0px;
  top: 625px;
  width: 560px;
}

.col1 {
  position: absolute;
  width: 259px;
  height: 32px;
  left: 480px;
  top: 350px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #424242;
  white-space: nowrap;

}

#date {
  position: absolute;
  width: 22px;
  height: 22px;
  margin-top: 5px;
}



.datepicker {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  height: 30px;
  width: 300px;
  caret-color: transparent;
  cursor: pointer;

}

input:placeholder-shown {
  font-size: 16px;
  color: '#e0e0e0';
}

.col2hr {
  width: 370px;
  height: 0px;
  position: absolute;
  top: 440px;
  left: 480px;
  color: #777777;
}

.time {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  height: 30px;
  width: 300px;
  caret-color: transparent;
  cursor: pointer;
}

.datepicker:focus {
  outline: none;
}

.time:focus {
  outline: none;
}

.col2 {
  position: absolute;
  width: 356px;
  height: 0px;
  left: 480px;
  top: 415px;
  cursor: pointer;
}

.col3hr {
  width: 355px;
  height: 0px;
  position: absolute;
  top: 440px;
  left: 940px;
  color: #777777;
}

.col3 {
  position: absolute;
  width: 356px;
  height: 0px;
  left: 935px;
  top: 415px;
  cursor: pointer;
} */

#delivery {
  top: 515px;
  position: absolute;
  width: 28px;
  height: 21px;
  margin-top: 5px;
}

.col4 {
  position: absolute;
  width: 307px;
  height: 32px;
  left: 480px;
  top: 530px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;

  color: #424242;
  white-space: nowrap;
}

.radioContainer {

  position: relative;
  top: 515px;
  left: 480px;
}

.radioContainer2 {

  position: relative;
  top: 515px;
  left: 600px;
}

.radioContainer3 {

  position: relative;
  top: 515px;
  left: 715px;
}

#locimg {
  position: absolute;
  left: 480px;
  top: 660px;
  width: 20px;
  height: 24px;
  margin-top: 5px;
}

#location {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  height: 30px;
  position: absolute;
  left: 510px;
  top: 660px;
  width: 730px;
}

#location:focus {
  outline: none;
}

input[placeholder] {
  color: '#e0e0e0';
}

.addhr {
  width: 818px;
  height: 0px;
  position: absolute;
  top: 685px;
  left: 480px;
  color: #777777;

}


.time-btn {
  border: none;
  border-radius: 8px;
  width: 178px;
  height: 45px;
  font-size: medium;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 1px solid #d2d2d2;
  white-space: nowrap;

}

.timeslots {
  width: 620px;
  height: 310px;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
}

.tcol1 {
  margin-top: -20px;
  margin-left: 20px;
  width: 175px;
  outline: none;

}

.tcol2 {
  margin-top: -44px;
  margin-left: 218px;
  width: 470px;
  outline: none;
}

.tcol3 {
  margin-top: -46px;
  margin-left: 415px;
  width: 760px;
  outline: none;
}

.tcol4 {
  margin-top: 30px;
  margin-left: 20px;
  width: 175px;
  outline: none;
}

.tcol5 {
  margin-top: -44px;
  margin-left: 218px;
  width: 470px;
  outline: none;
}

.tcol6 {
  margin-top: -45px;
  margin-left: 415px;
  width: 760px;
  outline: none;
}

.btns {
  margin-top: 20px;
  display: flex;
  float: right;
  margin-right: 25px;

}

.apply {
  margin-left: 10px;

}

 .cancel {
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  border-color: transparent;
  box-shadow: none;
  background-color: white;
  margin-right: 15px;
  margin-top: 23px;

}

.apply {
  font-size: 14px;
  background-color: #FF6D00;
  border: none;
  border-radius: 6px;
  width: 100px;
  height: 35px;
  color: white;
  cursor: pointer;
  margin-top: 23px;
} 

.slothead {
  font-size: x-large;
  text-align: left;
  margin-left: 20px;
  margin-top: 18px;
}

.popover-paper {
  box-shadow: none !important;
}

.time-btn.selected {
  background-color: #FF6D00;
  color: #fff;
}

.btndateapply {
  background-color: #FF6D00;
  color: white;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 15px;
  left: 275px;
  width: 95px;
  height: 33px;
  border-radius: 6px;
}

.btndatecancel {
  background-color: #fff;
  color: black;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 15px;
  left: 164px;
  width: 100px;
  height: 35px;
}
.calendar
{
  position: absolute;
  left: 480px;
  width: 400px;
  height: 365px;
  top: 457px;
  border: 1px solid #d2d2d2;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  background-color: white;
 
}
.datebox {
  position: absolute;
  width: 400px;
  height: 74px;
  left: 480px;
  top: 825px;
  border-bottom: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
}

.prbtn {
  background-color: white;
  border: 2px solid #FF6D00;
  color: #FF6D00;
  width: 137px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 8%;
  height: 44px;
  border-radius: 8px;
}


#prbtn1 {
  background-color: #FF6D00;
  color: white;
  border: 2px solid #FF6D00;
  width: 175px;
  top: 54%;
  left: 84%; 
  transform: translateY(-50%);
  position: absolute;
  right: 8%;
  border-radius: 8px;
  height: 44px;
}

.progress-bar {
  width: 1025px;
  max-width: 100%;
  height: 8px;
  top: 35%;
  transform: translateY(-50%);
  background-color: #eeeeee;
  overflow: hidden;
  position: absolute;
  left: 24%;
}


.progresstime {
  height: 100%;
  background-color: #F7D38C;
  width: 0%;
}

#percentagetime {
  position: absolute;
  font-weight: 500;
  color: #424242;
  top: 70%;
  transform: translateY(-50%);
  left:24%;
}

.btn:hover {
  background-color: white;
  border: 2px solid #FF6D00;
  color: #FF6D00;
}

.footertime {
  box-shadow: 11px 3px 11px 3px rgba(12, 11, 11, 0.07);
  width: 100%;
  height: 80px;
  position: absolute;

  padding-bottom: 110px;
  right: 0;
  top:970px;
  background-color: white;
}
/* Responsive Styles for iPad Pro 11" */
@media only screen and (max-width: 840px) 
{

  #centertext{
    margin-left:32px;
    margin-top:70px;
  }
  .col1{
    position:absolute;
    top:270px;
    left:32px;
  }
  .col2{
    position:absolute;
    top: 345px;
    left: 78px;
  }
  .col2hr{
    position:absolute;
    top: 368px;
    left: 78px;
    width: 440px;
  }

  .col3{
    position:absolute;
    top: 425px;
    left: 78px;

  }

  .col3hr{
    position:absolute;
    top: 450px;
    left: 78px;
    width: 440px;
  }

  .col4{
    position:absolute;
    top: 530px;
    left:32px;
  }
  .radioContainer{
    position:relative;
    top: 538px;
    left:78px;
  }

  .radioContainer2{
    position:relative;
    top: 600px;
    left:-23px;
  }

  .radioContainer3{
    position:relative;
    top: 660px;
    left:-132px;
  }
  #locimg{
    position:relative;
    top: 690px;
    left:78px;
  }

  #location{
    position:relative;
    top: 690px;
    left: 90px;
  }
  .addhr{
    position: absolute;
    top: 820px;
    left:78px;
    width:700px;
  }

  #bg{
    position: absolute;
    top: 840px;
  }

  .calendar
{
  position: absolute;
  left: 78px;
  width: 400px;
  height: 365px;
  top: 390px;
  border: 1px solid #d2d2d2;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  background-color: white;
 
}
.datebox {
  position: absolute;
  width: 400px;
  height: 74px;
  left: 78px;
  top: 750px;
  border-bottom: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;

} 

.unavailable-day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: black; 
  color: white; 
}

.unavailable-day:hover {
  cursor: not-allowed;
}

.selected-day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: orange; 
  color: white;
}
.footertime{
  position:absolute;
  top: 1180px;
}
.prbtn {
  width: 100px;
  left: 5%;

  top:50%;
}


  #prbtn1 {
    width: 120px;
    left: 85%;
    right: 8%;
    top:50%;
  }

  .progress-bar {
    top:50%;
    width: 60%;
    left: 20%;
  }

  #percentagetime {
    position:absolute;
    left:0%;
    transform: translateX(50%);
  }
}