.looks{
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
} 
.mb-0{
    font-weight: 580;
    font-size: 22px;
    line-height: 32px;
}
.times{
    font-weight: 50;
    font-size: 14px;
    line-height: 32px;
    color: #646464;
} 
.gsize{
    color: #090808;
}
.counts{
    color: #FF6D00;
}
.card{
    width:14%;
    padding: 2%;
    text-align: center;
    align-items: center;
    border: 1px solid grey;
}
.card.clicked{
    border: 1px solid orangered; 
    box-shadow: 3px 2px 8px 0 #f8cfa2;
    font-weight: bold;
}

.container{
    margin-left: 25%;
    margin-top: 8%;
}
.h6img  {
    color: rgba(255, 109, 0, 1);
    padding: 8px;
    width: 13%;
    height: 40px;
    text-align: center;
    margin-left: 35%;
    font-size: 20px;
    border-radius: 6px;
    background-color: rgba(255, 109, 0, 0.1);
}


.counts-button {
    font-size: 24px;
    width: 40px;
    height: 45px;
    padding: 0;
    border:none;
  }
  
.counts {
    font-size: 20px;
  }
  
  
.tdtime{
    width: 180px;
   
}
.tdtime span{
    width: 20%;
    padding: 10%;
}
.btm-image {
    position: fixed;
    bottom: 85px; 
    left: 8px;
    width: 25%;
}


.small{
    color: #090808;
    
}
.mt-2{
    margin-top: -1.5rem !important;
}


 
  /* iPhone layout */

  
    @media (max-width: 375px) {
    .looks{
        font-weight: 600;
        font-size: 22px;
        line-height: 22px;
    } 
    .time{
        font-weight: 100;
        font-size: 11px;
        line-height: 32px;
        color: #646464;
    } 
    .mb-0{
        font-weight: 180;
        font-size: 20px;
        line-height: 32px;

      
    }
   
    .container {
      margin-left: 0%;
      margin-top: 10px;
    }
  
    .card {
      width: 45%;
      padding: 2%;
      margin-bottom: 10px;
    }
  
    .btm-image {
      width: 100%;
      bottom: 10px;
    }
    
    .h6img {
        width: 50%;
        text-align: center;
       
      
    }
    
    .footer {
      width: 100%;
      height: 100px;
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
  
    .footer button {
      font-size: 16px;
    }
  
    #percentages {
      font-size: 16px;
    }
    .card{
       margin-right: 0rem !important; 
       margin-left: 1rem !important;
    }
  } 
  
/* iPad layout */

  @media (min-width: 768px) and (max-width: 1024px) {
    .container {
      margin-left: 1%;
      margin-top: 5%;
    }
  
    .card {
      width: 22%;
   
    
    }
  
    .btm-image {
      width: 50%;
      bottom: 20px;
    
    }
  
    .h6img {
      width: 25%;
      text-align: center;
      margin-left: 55%;
    }
  
    .footer {
      width: 100%;
      height: 80px;
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
  
    .footer button {
      font-size: 18px;
    }
  
    #percentages {
      font-size: 18px;
    }
    .card{
        margin-right: -2rem !important;
       margin-left: 3rem !important;
    }
  .mt-2{
    
        font-weight: 5;
        font-size: 13px;
        line-height: 32px;
  }
  .time{
    font-weight: 5;
        font-size: 13px;

  }
  .mb-0{
    margin-bottom: 10%;
  }
  } 