    <div class="Pm1">
    <h3>&ensp;Industry Menu</h3>
    </div>


    <div class="container">
    <div class="row row-cols-1 row-cols-lg-4 g-2 g-lg-3">
    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 1<br>IB01<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>    Idly 4</strong></li>
    <li><strong>Pongal</strong></li>
    <li><strong>Sambar</strong></li>
    <li><strong>Chutney</strong></li>

    </ul>
    </div>
    </div>


    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 2<br>IB02<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>Idly 4</strong></li>
    <li><strong>Kal Dosa 2</strong></li>
    <li><strong>Sambar</strong></li>
    <li><strong>Chutney</strong></li>


    </ul>
    </div>

    </div>

    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 3<br>IB03<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>Dosa 4</strong></li>
    <li><strong>Vada Curry</strong></li>
    <li><strong>Malli/Chutney</strong></li>
    <li><strong>Coconut Chutney</strong></li>

    </ul>
    </div>
    </div>

    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 4<br>IB04<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>Idly 4</strong></li>
    <li><strong>Chappathi 2</strong></li>
    <li><strong>Sambar &amp; Chutney</strong></li>
    <li><strong>Kurma</strong></li>


    </ul>
    </div>
    </div>

    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 5<br>IB05<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>Idly 4</strong></li>
    <li><strong>Rava Kichidi</strong></li>
    <li><strong>Sambar &amp; Chutney</strong></li>
    <li><strong>Chutney</strong></li>

    </ul>
    </div>
    </div>

    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 6<br>IB06<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>Idly 4</strong></li>
    <li><strong>Poori 2</strong></li>
    <li><strong>Sambar &amp; Chutney</strong></li>
    <li><strong>Aloo Masala</strong></li>

    </ul>
    </div>
    </div>

    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 7<br>IB07<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>Idly 5</strong></li>
    <li><strong>Vada</strong></li>
    <li><strong>Sambar</strong></li>
    <li><strong>Kara/Chutney</strong></li>

    </ul>
    </div>
    </div>

    <div class="col">
    <div class="p-3 border bg-light">
    <h3>Breakfast 8<br>IB08<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
    <li><strong>Idiyappam</strong></li>
    <li><strong>Coconut Milk</strong></li>
    <li><strong>Vada curry</strong></li>
    </ul>
    </div>
    </div>

    <div class="ending-of-selectevent">
        <a [routerLink]="['orderpage']"><button class="btn btn-success" type="submit">Book Here</button></a>
    </div>

    </div>
    </div>
   