/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outerhead{
    display: flex;
    background-color: #FF6D00;
    height: 4.5rem;
    box-shadow: 0px 0.1875rem 0.6875rem rgba(86, 86, 86, 0.07);
    background-color:#fff;
}
.head img{
    position: relative;
    top:1rem;
    left:2.7rem;
    width:9rem;
    height: 3rem;
}
.whole_section_outer_div{
    padding: 0 6rem 0 6rem;
    display: flex;
    justify-content: center;
}
.track_btn{
    display: flex;
    width:26rem;
    height: 3rem;
    background: #FFFFFF;
    border: 0.0625rem solid #C1C8CF;
    border-radius: 0.375rem;
    
}
#track_input{
    width:18rem;
    height: 2.9rem;
    border-radius: 0.375rem;
    border: none;
}
#track{
    color:white;
    font-size: 1rem;
    width:8rem;
    height: 2.9rem;
    border-radius: 0.375rem;
    border: none;
    background-color: #FF6D00;
}
.status{
    display: flex;
    column-gap: 69rem;
   
    padding-top: 2rem;
}
.status_item1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height:1.875rem;
    color: #424242;
}
#sta{
    color: #FF6D00;
}
#message_btn{
    width:9rem;
    height: 2.5rem;
    background: #FFF0E5;
    border-radius: 0.375rem;
    color: #FF6D00;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.375rem;
}
.whole_section_inner_div{
    height: 100%;
    
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2.5rem;
}
.whole_summary_outer_div{
    padding-top: 2rem;
}
.summary{
        padding: 0.5rem;
        height: 30rem;
        border: 1px solid #CAC7C7;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 

}
.order_summary1{
    display: flex;
    column-gap: 5rem;
}
.order_summary{
    height: 3rem;
    row-gap: 2rem;
    display: flex;
    column-gap: 5rem;
    
}
.order_head1 p{
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: bolder;
}
.order_item1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2rem;
    color: #727272;
}
.order_item2 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2rem;
    color: #727272;
}
.order_item3 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2rem;
    color: #727272;
}
.order_summary_content{
    color: black;
}

.contact_summary_containers{
    
    display: flex;
    column-gap: 7rem;

}
.contact_summary1{
    display: flex;
    column-gap: 7rem;
}
.sub_head p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.3125rem;
    color: #424242;
}
.item_head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #8B909A;
    padding:0.2rem;
}
.item_content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1rem;
    color: black;
    padding:0.2rem;

}
.other_details_summary{
    display: flex;
    column-gap: 8rem;
}
.other_details_summary1{
    display: flex;
    column-gap: 7.8rem;
}
.other_details_summary2{
    display: flex;
    column-gap: 8.3rem;
}
.section2{
    display: flex;
    column-gap: 8rem;
    padding-top: 1rem;
}
.order_head1{
   display: flex; 
   column-gap: 15rem;
   background-color: #EBEBEB;
   margin-top: 1rem;
   padding: 1rem;
}
.order_head2{
    margin-top: 1.5rem;
}
.order_head2_item1{
    width:8rem;
}
.add_ons_div{
    margin-top: 1rem;
    padding: 1rem;
}
.order_outer{
    display: flex;
    column-gap: 7rem;

}
.order_inner_div1{
    display: flex;
    column-gap: 10rem;
    padding: 1rem;
}
.outer_div_head2_item2{
    display: flex;
    column-gap: 9.4rem;
}
.add_ons_inner_div1{
    display: flex;
    column-gap: 13rem;
    margin-top: 0.7rem;
}

.add_ons_outerpart1{
    display: flex;
    column-gap: 9.6rem;
}
.add_ons_outer_part2{
    display: flex;
    column-gap: 12.6rem;
    margin-top: 0.7rem;

}
.add_ons_outer_part2_1{
    display: flex;
    column-gap: 9.7rem;
}
.total_outer_div{
    display: flex;
    column-gap: 37.4rem;
    margin-top: 1rem;
}
.total_upper_line{
    margin-top: 2rem;
}
.Payable_upper_line{
    margin-top: 2rem;
}
.section2_item1{
    display: flex;
    column-gap: 25rem;
    margin-top: 2rem;
    padding: 1rem;


}
.section2_item2{
    display: flex;
    column-gap: 25.3rem;
    margin-top: 1.5rem;
    padding: 1rem;



}
.section2_item3{
    display: flex;
    column-gap: 24.7rem;
    margin-top: 1.5rem;
    padding: 1rem;

}
.section2_item4{
    display: flex;
    column-gap: 27.8rem;
    margin-top: 1.5rem;
    padding: 1rem;

}
.section2_item5{
    display: flex;
    column-gap: 22rem;
    margin-top: 0.5rem;
    padding: 1rem;

}
.section2_item1 p{
    font-size: 1rem;
    font-weight: bolder;
}
.section2_item2 p{
    font-size: 1rem;
    font-weight: bolder;
}
.section2_item3 p{
    font-size: 1rem;
    font-weight: bolder;
}
.section2_item4 p{
    font-size: 1rem;
    font-weight: bolder;
}
.heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: #4A4A4A;
}
.order_head1{
    width: 45rem;
    height: 3rem;
    background: #EBEBEB;
    text-align: center;
}
.section2_item_head{
    width: 35rem;
    height: 3rem;
    font-family: 'Poppins';
    background: #EBEBEB;
    margin-top: 1rem;
    padding: 1rem;
}
.subheading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.375rem;
    color:black;

}
.subheading_content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.78rem;
    line-height: 1.375rem;
    color: #424242;
    padding-top: 1rem;
}
.numbers{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #424242;
}
.add_ons_heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.375rem;
    color: #484848;
}
.total_heading{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 1.375rem;
color:black;
}
.total_number{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 1.375rem;
color: #00B373;
}
.billing_head{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 0.8rem;
line-height: 1.375rem;
color: #4A4A4A;
}
.billing_number{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 0.8rem;
line-height: 1.375rem;
color: #424242;
}
.billing_content{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 0.8rem;
line-height: 1.375rem;
color: #00B373;
}
.footer{
    display: flex;
    justify-content: center;
}
.footer_content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #727272;
}
#colored_content{
    color:#FF6D00;
}
.order_head2_item1 p{
    font-size: 0.8rem;
    font-weight: bolder;
}
.add_ons_item1 p{
    font-size: 0.8rem;
    font-weight: bolder;
}
.add_ons_heading{
    font-size: 0.8rem;
    font-weight: bolder;
}
.total_outer_div p{
    font-size: 1.2rem;
    font-weight: bolder;
}
.section2_item_head{
    font-size: 1rem;
    font-weight: bolder;
}
.add_ons_heading{
    width:5rem;
    height: 3rem; 
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 

}


@media screen and (max-width:820px)
{
    
    .status{
        column-gap: 29.4rem;
    }

    .order_item1 p{
        font-size: 1rem;
    }
    .order_item2 p{
        font-size: 1rem;
    }
    .order_item3 p{
        font-size: 1rem;
    }
    .contact_summary_containers{
    
        column-gap: 4rem;
    
    }
    .contact_summary1{
        column-gap: 4rem;
    }
    .item_head{
        font-size: 0.7rem;
    }
    .item_content{
        font-size: 0.8rem;
    }
    #addtional_con{
        font-size: 1rem;
    }

    .other_details_summary{
        column-gap: 4rem;
    }
    .other_details_summary1{
        column-gap: 3.5rem;
    }
    .other_details_summary2{
        column-gap: 4.7rem;
    }

    .section2{
        display: block;
    }
    .order_head1{
        column-gap: 20rem;
        width: 50rem;

    }
    .order_inner_div1{
        column-gap: 14.5rem;

    }
    .order_head1 p{
        font-size: 1rem;
        font-weight: bolder;
    }
   .add_ons_inner_div1{
        column-gap: 19.4rem;
    }
    .add_ons_outerpart1{
        column-gap: 9.4rem;
    }
    .add_ons_outer_part2{
        column-gap: 17rem;
    }
    .add_ons_outer_part2_1{
        column-gap: 9.4rem;
    }
    .total_outer_div{
        column-gap: 39.8rem;
    }
    .section2_item_head{
        width:50rem;
    }
    .section2_item1{
        column-gap: 39.5rem;
    }
    .section2_item2{
        column-gap: 40rem;
    }
    .section2_item3{
        column-gap: 39.5rem;
    }
    .section2_item4{
        column-gap: 42.6rem;
    }
    .section2_item5{
        column-gap: 36.6rem;
    }
    .order_summary_content{
    }
    .order_head2_item1 p{
        font-size: 0.8rem;
        font-weight: bolder;
    }
    .add_ons_item1 p{
        font-size: 0.8rem;
        font-weight: bolder;
    }
    .add_ons_heading{
        font-size: 0.8rem;
        font-weight: bolder;
    }
    .total_outer_div p{
        font-size: 1.2rem;
        font-weight: bolder;
    }
    .contact_summary1{
        column-gap: 2.5rem;
    }
    .other_details_summary{
        column-gap: 1.5rem;
    }
    .other_details_summary1{
        column-gap: 2rem;
    }
    .other_details_summary2{
        column-gap: 8rem;
    }
    .numbers{
    
        font-weight: bolder;
    }
    .section2_item_head{
        font-size: 1rem;
        font-weight: bolder;
    }
    .section2_item1 p{
        font-size: 1rem;
        font-weight: bolder;
    }

    .section2_item2 p{
        font-size: 1rem;
        font-weight: bolder;
    }
    .section2_item3 p{
        font-size: 1rem;
        font-weight: bolder;
    }
    .section2_item4 p{
        font-size: 1rem;
        font-weight: bolder;
    }



}










@media screen and (max-width:420px){
    
    .head {
        position: relative;
        right: 3.2rem;
        bottom: 0.5rem;
    }
    
    .track_btn{
        width: 23rem;
        height: 2.5rem;

    }
    #track_input{
        width:15rem;
        height: 2.4rem;
        border-radius: 0.375rem;
        border:none ;
    }
    #track{
        width:8rem;
        height: 2.4rem;
        
    }
    .status{
        display: block;
    }
    .status_item1{
        font-size: 0.8rem;
    }
    
    #sta{
        color: #FF6D00;
    }
    #message_btn{
        display: none;
    }
    .summary{
         height: 40rem; 
    }
    .order_item1 p{
        font-size: 0.8rem;
    }
    .order_item2 p{
        font-size: 0.8rem;
    }
    .order_item3 p{
        font-size: 0.8rem;
    }
    .order_summary1{
        display: flex;
        column-gap: 1.5rem;
    }
    #order_underline{
        padding-top: 0.5rem;
    }
    
    .order_summary{
        
        display: block;
        
    }
    .item_head{
        font-size: 0.8rem;
    }
    .item_content{
        font-size: 0.8rem;
    }
    .contact_summary1{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
    .contact_summary_containers{
        column-gap: 2rem;
    }
    .other_details_summary1{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
    .other_details_summary2{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
       
    }
    .section2{
        display: block;
    }
    .order_head1{
        width:23.1rem;
        column-gap: 4rem;
    }
    .order_head2_item1{
        width:4rem;
    }
   
    .order_outer{
        column-gap: 2rem;
    }
    .order_inner_div1{
        column-gap: 4rem;
    }
    .outer_div_head2_item2{
        column-gap: 3.4rem;
    }
    .add_ons_inner_div1{
        column-gap: 5rem;
    }
    .add_ons_outerpart1{
        column-gap: 3.6rem;
    }
    .add_ons_outer_part2{
        column-gap: 2.5rem;
    }
    .add_ons_outer_part2_1{
        column-gap: 3.7rem;
    }
    .total_outer_div{
        column-gap: 14rem;
    }
    .section2_item_head{
        width:22rem;
        
    }
    .section2_item1{
        column-gap: 13.6rem;
        margin-top: 1rem;
    }
    .section2_item2{
        column-gap: 14rem;
        margin-top: 1rem;

    }
    .section2_item3{
        column-gap: 13.3rem;
        margin-top: 1rem;

    }
    .section2_item4{
        column-gap: 16.4rem;
        margin-top: 1rem;

    }
    .section2_item5{
        column-gap: 10.4rem;
        margin-top: 1rem;

    }
    .footer_content p{
        display: none;
    }

} */



/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outerhead{
    display: flex;
    background-color: #FF6D00;
    height: 4.5rem;
    box-shadow: 0px 0.1875rem 0.6875rem rgba(86, 86, 86, 0.07);
    background-color:#fff;
}
.head img{
    position: relative;
    top:1rem;
    left:2.7rem;
    width:9rem;
    height: 3rem;
}
.whole_section_outer_div{
    padding: 0 6rem 0 6rem;
    display: flex;
    justify-content: center;
}
.track_btn{
    display: flex;
    width:26rem;
    height: 3rem;
    background: #FFFFFF;
    border: 0.0625rem solid #C1C8CF;
    border-radius: 0.375rem;
    
}
.track_input{
    width:18rem;
    height: 2.9rem;
    border-radius: 0.375rem;
    border: none;
}
.track{
    color:white;
    font-size: 1rem;
    width:8rem;
    height: 2.9rem;
    border-radius: 0.375rem;
    border: none;
    background-color: #FF6D00;
}
.status{
    display: flex;
    column-gap: 60rem;
   
    padding-top: 2rem;
}
.status_item1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height:1.875rem;
    color: #424242;
}
.sta{
    color: #FF6D00;
}
.message_btn{
    width:9rem;
    height: 2.5rem;
    background: #FFF0E5;
    border-radius: 0.375rem;
    color: #FF6D00;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.375rem;
}
.whole_section_inner_div{
    height: 100%;
    
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2.5rem;
}
.whole_summary_outer_div{
    padding-top: 2rem;
}
.summary{
        padding: 0.5rem;
        height: 30rem;
        border: 1px solid #CAC7C7;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 

}
.order_summary1{
    display: flex;
    column-gap: 5rem;
}
.order_summary{
    height: 3rem;
    row-gap: 2rem;
    display: flex;
    column-gap: 5rem;
    
}
.order_head1 .para{
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: bolder;
    margin-top: -1rem;

}
.order_item1 .para{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2rem;
    color: #727272;
}
.order_item2 .para{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2rem;
    color: #727272;

}
.order_item3 .para{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2rem;
    color: #727272;

}
.order_summary_content{
    color: black;
}

.contact_summary_containers{
    
    display: flex;
    column-gap: 7rem;

}
.contact_summary1{
    display: flex;
    column-gap: 7rem;
}
.sub_head .para{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.3125rem;
    color: #424242;
    margin-top: -1rem;

}
.item_head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #8B909A;
    padding:0.2rem;
}
.item_content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1rem;
    color: black;
    padding:0.2rem;

}
.other_details_summary{
    display: flex;
    column-gap: 8rem;
}
.other_details_summary1{
    display: flex;
    column-gap: 7.8rem;
}
.other_details_summary2{
    display: flex;
    column-gap: 8.3rem;
}
.section2{
    display: flex;
    column-gap: 8rem;
    padding-top: 1rem;
}
.order_head1{
   display: flex; 
   column-gap: 15rem;
   background-color: #EBEBEB;
   margin-top: 1rem;
   padding: 1rem;
}
.order_head2{
    margin-top: 1.5rem;
}
.order_head2_item1{
    width:8rem;
}
.add_ons_div{
    margin-top: 1rem;
    padding: 1rem;
}
.order_outer{
    display: flex;
    column-gap: 7rem;

}
.order_inner_div1{
    display: flex;
    column-gap: 10rem;
    padding: 1rem;
}
.outer_div_head2_item2{
    display: flex;
    column-gap: 9.4rem;
}
.add_ons_inner_div1{
    display: flex;
    column-gap: 13rem;
    margin-top: 0.7rem;
}

.add_ons_outerpart1{
    display: flex;
    column-gap: 9.6rem;
}
.add_ons_outer_part2{
    display: flex;
    column-gap: 12.9rem;
    margin-top: 0.7rem;

}
.add_ons_outer_part2_1{
    display: flex;
    column-gap: 9.7rem;
}
.total_outer_div{
    display: flex;
    column-gap: 38.5rem;
    margin-top: 1rem;
}
.total_upper_line{
    margin-top: 2rem;
}
.Payable_upper_line{
    margin-top: 2rem;
}
.section2_item1{
    display: flex;
    column-gap: 25rem;
    margin-top: 2rem;
    padding: 1rem;


}
.section2_item2{
    display: flex;
    column-gap: 25.3rem;
    margin-top: 1.5rem;
    padding: 1rem;



}
.section2_item3{
    display: flex;
    column-gap: 24.7rem;
    margin-top: 1.5rem;
    padding: 1rem;

}
.section2_item4{
    display: flex;
    column-gap: 27.8rem;
    margin-top: 1.5rem;
    padding: 1rem;

}
.section2_item5{
    display: flex;
    column-gap: 22rem;
    margin-top: 0.5rem;
    padding: 1rem;

}
.section2_item1 p{
    font-size: 1rem;
    font-weight: bolder;
}
.section2_item2 p{
    font-size: 1rem;
    font-weight: bolder;
}
.section2_item3 p{
    font-size: 1rem;
    font-weight: bolder;
}
.section2_item4 p{
    font-size: 1rem;
    font-weight: bolder;
}
.heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: #4A4A4A;
}
.order_head1{
    width: 45rem;
    height: 3rem;
    background: #EBEBEB;
    text-align: center;
}
.section2_item_head{
    width: 35rem;
    height: 3rem;
    font-family: 'Poppins';
    background: #EBEBEB;
    margin-top: 1rem;
    padding: 1rem;
}
.subheading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.375rem;
    color:black;

}
.subheading_content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 0.78rem;
    line-height: 1.375rem;
    color: #424242;
    padding-top: 1rem;
}
.numbers{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #424242;
   
}
.add_ons_heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.375rem;
    color: #484848;
}
.total_heading{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 1.375rem;
color:black;
}
.total_number{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 1.375rem;
color: #00B373;
}
.billing_head{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 0.8rem;
line-height: 1.375rem;
color: #4A4A4A;
font-size: 1rem;
font-weight: bolder;
}
.billing_number{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 0.8rem;
line-height: 1.375rem;
color: #424242;
font-size: 1rem;
font-weight: bolder;
}
.billing_content{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 0.8rem;
line-height: 1.375rem;
color: #00B373;
font-size: 1rem;
font-weight: bolder;
}
.footer{
    display: flex;
    justify-content: center;
}
.footer_content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #727272;
    margin-top: -1rem;

}
.colored_content{
    color:#FF6D00;
}
.order_head2_item1 p{
    font-size: 0.8rem;
    font-weight: bolder;
}
.add_ons_item1 p{
    font-size: 0.8rem;
    font-weight: bolder;
}
.add_ons_heading{
    font-size: 0.8rem;
    font-weight: bolder;
}
.total_outer_div p{
    font-size: 1.2rem;
    font-weight: bolder;
}
.section2_item_head .para{
    font-size: 1rem;
    font-weight: bolder;
}
.add_ons_heading{
    width:5rem;
    height: 3rem; 
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 

}


@media screen and (max-width:820px)
{
    
    .status{
        column-gap: 29.4rem;
    }

    .order_item1 p{
        font-size: 1rem;
        margin-top: -1rem;

    }
    .order_item2 p{
        font-size: 1rem;
        margin-top: -1rem;

    }
    .order_item3 p{
        font-size: 1rem;
        margin-top: -1rem;

    }
    .contact_summary_containers{
    
        column-gap: 4rem;
    
    }
    .contact_summary1{
        column-gap: 4rem;
    }
    .item_head{
        font-size: 0.7rem;
    }
    .item_content{
        font-size: 0.8rem;
    }
    .add_ons_outer_part2{
        column-gap: 17rem;
    }
    .add_ons_outer_part2_1{
        column-gap: 9.4rem;
    }
    .total_outer_div{
        column-gap: 39.8rem;
    }
    .section2_item_head{
        width:50rem;
    }
    .section2_item1{
        column-gap: 39.5rem;
    }
    .section2_item2{
        column-gap: 40rem;
    }
    .section2_item3{
        column-gap: 39.5rem;
    }
    .section2_item4{
        column-gap: 42.6rem;
    }
    .section2_item5{
        column-gap: 36.6rem;
    }
    .footer_content p{
        display: none;
        margin-top: -1rem;

    }

}

@media screen and (max-width:420px){
    
    .head {
        position: relative;
        right: 3.2rem;
        bottom: 0.5rem;
    }
    
    .track_btn{
        width: 23rem;
        height: 2.5rem;

    }
    .track_input{
        width:15rem;
        height: 2.4rem;
        border-radius: 0.375rem;
        border:none ;
    }
    .track{
        width:8rem;
        height: 2.4rem;
        
    }
    .status{
        display: block;
    }
    .status_item1{
        font-size: 0.8rem;
    }
    
    .sta{
        color: #FF6D00;
    }
    .message_btn{
        display: none;
    }
    .summary{
         height: 40rem; 
    }
    .order_item1 p{
        font-size: 0.8rem;
        margin-bottom: 0rem;

    }
    .order_item2 p{
        font-size: 0.8rem;
        margin-bottom: 0rem;


    }
    .order_item3 p{
        font-size: 0.8rem;
        margin-bottom: 0rem;


    }
    .order_summary1{
        display: flex;
        column-gap: 1.5rem;
    }
    .order_summary{
        
        display: block;
        
    }
    .item_head{
        font-size: 0.8rem;
    }
    .item_content{
        font-size: 0.8rem;
    }
    .contact_summary1{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
    .contact_summary_containers{
        column-gap: 2rem;
    }
    .other_details_summary1{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
    .other_details_summary2{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
       
    }
    .section2{
        display: block;
    }
    .order_head1{
        width:23.1rem;
        column-gap: 4rem;
    }
    .order_head2_item1{
        width:4rem;
    }
   
    .order_outer{
        column-gap: 2rem;
    }
    .order_inner_div1{
        column-gap: 4rem;
    }
    .outer_div_head2_item2{
        column-gap: 3.4rem;
    }
    .add_ons_inner_div1{
        column-gap: 5rem;
    }
    .add_ons_outerpart1{
        column-gap: 3.6rem;
    }
    .add_ons_outer_part2{
        column-gap: 2.5rem;
    }
    .add_ons_outer_part2_1{
        column-gap: 3.7rem;
    }
    .total_outer_div{
        column-gap: 14rem;
    }
    .section2_item_head{
        width:22rem;
        
    }
    .section2_item1{
        column-gap: 13.6rem;
        margin-top: 1rem;
    }
    .section2_item2{
        column-gap: 14rem;
        margin-top: 1rem;

    }
    .section2_item3{
        column-gap: 13.3rem;
        margin-top: 1rem;

    }
    .section2_item4{
        column-gap: 16.4rem;
        margin-top: 1rem;

    }
    .section2_item5{
        column-gap: 10.4rem;
        margin-top: 1rem;

    }
    .footer_content p{
        display: none;

    }

} */



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .outerhead {
    display: flex;
    background-color: #ff6d00;
    height: 4.5rem;
    box-shadow: 0px 0.1875rem 0.6875rem rgba(86, 86, 86, 0.07);
    background-color: #fff;
  }
  
  .head img {
    position: relative;
    top: 1rem;
    left: 2.7rem;
    width: 9rem;
    height: 3rem;
  }
  
  .whole_section_outer_div {
    /* padding: 0 9rem 0 9rem; */
    display: flex;
    justify-content: center;
    /* padding: 50px; */
  }
  
  .track_btn {
    display: flex;
    width: 26rem;
    height: 3rem;
    background: #ffffff;
    border: 0.0625rem solid #c1c8cf;
    border-radius: 0.375rem;
  }
  
  .track_input {
    width: 18rem;
    height: 2.9rem;
    border-radius: 0.375rem;
    border: none;
  }
  
  .track {
    color: white;
    font-size: 1rem;
    width: 8rem;
    height: 2.9rem;
    border-radius: 0.375rem;
    border: none;
    background-color: #ff6d00;
  }
  
  .status {
    display: flex;
    column-gap: 60rem;
    padding-top: 2rem;
  }
  
  .status_item1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.875rem;
    color: #424242;
  }
  
  .sta {
    color: #ff6d00;
  }
  
  .message_btn {
    width: 9rem;
    height: 2.5rem;
    background: #fff0e5;
    border-radius: 0.375rem;
    color: #ff6d00;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.375rem;
  }
  
  .whole_section_inner_div {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 2.5rem;
  }
  
  .whole_summary_outer_div {
    padding-top: 2rem;
  }
  
  .summary {
    padding: 0.5rem;
    height: 30rem;
    border: 1px solid #cac7c7;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .order_summary1 {
    display: flex;
    column-gap: 5rem;
  }
  
  .order_summary {
    height: 3rem;
    row-gap: 2rem;
    display: flex;
    column-gap: 5rem;
  }
  
  .order_head1 .para {
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: bolder;
    margin-top: -1rem;
  }
  
  .order_item1 .para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2rem;
    color: #727272;
  }
  
  .order_item2 .para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2rem;
    color: #727272;
  }
  
  .order_item3 .para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2rem;
    color: #727272;
  }
  
  .order_summary_content {
    color: black;
  }
  
  .contact_summary_containers {
    display: flex;
    column-gap: 7rem;
  }
  
  .contact_summary1 {
    display: flex;
    column-gap: 7rem;
  }
  
  .sub_head .para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.3125rem;
    color: #424242;
    margin-top: -1rem;
  }
  
  .item_head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #8b909a;
    padding: 0.2rem;
  }
  
  .item_content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1rem;
    color: black;
    padding: 0.2rem;
  }
  
  .other_details_summary {
    display: flex;
    column-gap: 8rem;
  }
  
  .other_details_summary1 {
    display: flex;
    column-gap: 7.8rem;
  }
  
  .other_details_summary2 {
    display: flex;
    column-gap: 8.3rem;
  }
  
  /* .section2 {
    display: flex;
    column-gap: 8rem;
    padding-top: 1rem;
  }
   */
  .order_head1 {
    display: flex;
    column-gap: 15rem;
    background-color: #ebebeb;
    margin-top: 1rem;
    padding: 1rem;
  }
  
  .order_head2 {
    margin-top: 1.5rem;
  }
  
  .order_head2_item1 {
    width: 8rem;
  }
  
  .add_ons_div {
    margin-top: 1rem;
    padding: 1rem;
  }
  
  .order_outer {
    display: flex;
    column-gap: 7rem;
  }
  
  .order_inner_div1 {
    display: flex;
    column-gap: 10rem;
    padding: 1rem;
    /* flex-wrap: wrap; */
  }
  
  .outer_div_head2_item2 {
    display: flex;
    column-gap: 9.4rem;
    /* align-items:; */
    /* text-align: right; */
  }
 
  
  .add_ons_inner_div1 {
    display: flex;
    column-gap: 13rem;
    margin-top: 0.7rem;
  }
  
  .add_ons_outerpart1 {
    display: flex;
    column-gap: 9.6rem;
  }
  
  .add_ons_outer_part2 {
    display: flex;
    column-gap: 12.9rem;
    margin-top: 0.7rem;
  }
  
  .add_ons_outer_part2_1 {
    display: flex;
    column-gap: 9.7rem;
  }
  
  .total_outer_div {
    display: flex;
    column-gap: 38.5rem;
    margin-top: 1rem;
  }
  
  .total_upper_line {
    margin-top: 2rem;
  }
  
  .Payable_upper_line {
    margin-top: 2rem;
  }
  
  .section2_item1 {
    display: flex;
    column-gap: 25rem;
    margin-top: 2rem;
    padding: 1rem;
  }
  
  .section2_item2 {
    display: flex;
    column-gap: 25.3rem;
    margin-top: 1.5rem;
    padding: 1rem;
  }
  
  .section2_item3 {
    display: flex;
    column-gap: 24.7rem;
    margin-top: 1.5rem;
    padding: 1rem;
  }
  
  .section2_item4 {
    display: flex;
    column-gap: 27.8rem;
    margin-top: 1.5rem;
    padding: 1rem;
  }
  
  .section2_item5 {
    display: flex;
    column-gap: 22rem;
    margin-top: 0.5rem;
    padding: 1rem;
  }
  
  .section2_item1 p {
    font-size: 1rem;
    font-weight: bolder;
  }
  
  .section2_item2 p {
    font-size: 1rem;
    font-weight: bolder;
  }
  
  .section2_item3 p {
    font-size: 1rem;
    font-weight: bolder;
  }
  
  .section2_item4 p {
    font-size: 1rem;
    font-weight: bolder;
  }
  
  .heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: #4a4a4a;
  }
  
  /* .order_head1 {
    width: 45rem;
    height: 3rem;
    background: #ebebeb;
    text-align: center;
  } */
  
  /* .section2_item_head {
    width: 35rem;
    height: 3rem;
    font-family: 'Poppins';
    background: #ebebeb;
    margin-top: 1rem;
    padding: 1rem;
  } */
  
  /* .subheading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.375rem;
    color: black;
  } */
  
  /* .subheading_content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 0.78rem;
    line-height: 1.375rem;
    color: #424242;
    padding-top: 1rem;
  }
   */
  /* .numbers {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #424242;
  } */
  
  /* .add_ons_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.375rem;
    color: #484848;
  } */
  
  /* .total_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    color: black;
  } */
  
  /* .total_number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #00b373;
  } */
  
  /* .billing_head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.375rem;
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: bolder;
  } */
  
  /* .billing_number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.375rem;
    color: #424242;
    font-size: 1rem;
    font-weight: bolder;
  } */
  
  /* .billing_content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.375rem;
    color: #00b373;
    font-size: 1rem;
    font-weight: bolder;
  } */
  
  .footer {
    display: flex;
    justify-content: center;
  }
  
  .footer_content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #727272;
    margin-top: -1rem;
  }
  
  .colored_content {
    color: #ff6d00;
  }
  
  /* .order_head2_item1 p {
    font-size: 0.8rem;
    font-weight: bolder;
  } */
  
  /* .add_ons_item1 p {
    font-size: 0.8rem;
    font-weight: bolder;
  } */
  
  /* .add_ons_heading {
    font-size: 0.8rem;
    font-weight: bolder;
  }
   */
  /* .total_outer_div p {
    font-size: 1.2rem;
    font-weight: bolder;
  } */
  
  /* .section2_item_head .para {
    font-size: 1rem;
    font-weight: bolder;
  } */
  
  /* .add_ons_heading {
    width: 5rem;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } */
  
  .text_right{
    text-align: right;
}
.text-right1{
    text-align: right;
}
.text-right7{
    text-align: right;
}
.whole_table{
    display:flex;
    /* padding: 150px; */
}

.table_header th{
    background-color: #EBEBEB;
    padding: 10px;

}
.table td{
    padding: 16px;
}
.Billing td{
    padding: 30px;

}
.thead-dark {
    background-color: darkgrey;
    color: white;
  }
  .custom_table1{
    width: 700px;
  }
 .table_heading{
  margin-top: 8px;
  font-size: 24px;
 }
  .common_thead{
  font-size: 18px;
  font-weight: 500;
 }

  .tdata_common{
  font-size: 16px;
  font-weight: 400;

 }
 .menu{
  font-size: 13px;
  width:200px;
 }
 .table_color_black{
  color:#424242;
  font-weight: 600;
 }
.total_amount{
  font-size: 20px;
  font-weight: 600;
  color:#424242;

}
.table2{
  padding-left: 150px;
}
.table1_th1{
  width:250px;
}
.table1_th2{
  minWidth: 50px;
}




@media screen and (min-width: 950px) and (max-width: 1000px) {
  .mobile{
    padding:10px;
  }
  
  .status {
    column-gap: 32rem;
  }

  .order_item1 .para,
  .order_item2 .para,
  .order_item3 .para {
    font-size: 0.8rem;
  }
  .order_head1{
      width:25rem;
  }
  
  

  .contact_summary_containers {
    column-gap: 4rem;
  }
  .section2 {
      display: block;
    }

  .contact_summary1 {
    column-gap: 4rem;
  }

  .item_head {
    font-size: 0.7rem;
  }

  .item_content {
    font-size: 0.8rem;
  }

  .add_ons_outer_part2 {
    column-gap: 17rem;
  }

  .add_ons_outer_part2_1 {
    column-gap: 9.4rem;
  }

  .total_outer_div {
    column-gap: 39.8rem;
  }

  .section2_item_head {
    width: 30rem;
  }

  .section2_item1 {
    column-gap: 19.5rem;
  }

  .section2_item2 {
    column-gap: 20rem;
  }

  .section2_item3 {
    column-gap: 19.5rem;
  }

  .section2_item4 {
    column-gap: 22.8rem;
  }

  .section2_item5 {
    column-gap: 17rem;
  }
  .whole_table{
    display:block;
}
.table-responsive {
  overflow-x: auto;
}
.table2{
  padding: 0px;
  width:100%;
}
.custom_table1{
  width:940px;
}
.custom_table2{
  width:940px;
}  
}




@media screen and (min-width: 900px) and (max-width: 950px) {
  .mobile{
    padding:10px;
  }
  .status {
    column-gap: 29rem;
  }

  .order_item1 .para,
  .order_item2 .para,
  .order_item3 .para {
    font-size: 0.8rem;
  }
  .order_head1{
      width:25rem;
  }
  
  

  .contact_summary_containers {
    column-gap: 4rem;
  }
  .section2 {
      display: block;
    }

  .contact_summary1 {
    column-gap: 4rem;
  }

  .item_head {
    font-size: 0.7rem;
  }

  .item_content {
    font-size: 0.8rem;
  }

  .add_ons_outer_part2 {
    column-gap: 17rem;
  }

  .add_ons_outer_part2_1 {
    column-gap: 9.4rem;
  }

  .total_outer_div {
    column-gap: 39.8rem;
  }

  .section2_item_head {
    width: 30rem;
  }

  .section2_item1 {
    column-gap: 19.5rem;
  }

  .section2_item2 {
    column-gap: 20rem;
  }

  .section2_item3 {
    column-gap: 19.5rem;
  }

  .section2_item4 {
    column-gap: 22.8rem;
  }

  .section2_item5 {
    column-gap: 17rem;
  }
  .whole_table{
    display:block;
}
.table-responsive {
  overflow-x: auto;
}
.table2{
  padding: 0px;
  width:100%;
}
.custom_table1{
  width:870px;
}
.custom_table2{
  width:870px;
}  
}


@media screen and (min-width: 850px) and (max-width: 900px) {
  .mobile{
    padding:10px;
  }

  .status {
    column-gap: 26rem;
  }

  .order_item1 .para,
  .order_item2 .para,
  .order_item3 .para {
    font-size: 0.8rem;
  }
  .order_head1{
      width:25rem;
  }
  
  

  .contact_summary_containers {
    column-gap: 4rem;
  }
  .section2 {
      display: block;
    }

  .contact_summary1 {
    column-gap: 4rem;
  }

  .item_head {
    font-size: 0.7rem;
  }

  .item_content {
    font-size: 0.8rem;
  }

  .add_ons_outer_part2 {
    column-gap: 17rem;
  }

  .add_ons_outer_part2_1 {
    column-gap: 9.4rem;
  }

  .total_outer_div {
    column-gap: 39.8rem;
  }

  .section2_item_head {
    width: 30rem;
  }

  .section2_item1 {
    column-gap: 19.5rem;
  }

  .section2_item2 {
    column-gap: 20rem;
  }

  .section2_item3 {
    column-gap: 19.5rem;
  }

  .section2_item4 {
    column-gap: 22.8rem;
  }

  .section2_item5 {
    column-gap: 17rem;
  }
  .whole_table{
    display:block;
}
.table-responsive {
  overflow-x: auto;
}
.table2{
  padding: 0px;
  width:100%;
}
.custom_table1{
  width:820px;
}
.custom_table2{
  width:820px;

}  
}




@media screen and (min-width: 800px) and (max-width: 850px) {
  .mobile{
    padding:10px;
  }
  .status {
      column-gap: 25rem;
    }
  
    .order_item1 .para,
    .order_item2 .para,
    .order_item3 .para {
      font-size: 0.8rem;
      /* margin-top: -1rem; */
    }
    .order_head1{
        width:25rem;
    }
    
    /* .status_item1 {
        font-size: 0.8rem;
      } */
  
    .contact_summary_containers {
      column-gap: 4rem;
    }
    .section2 {
        display: block;
      }
  
    .contact_summary1 {
      column-gap: 4rem;
    }
  
    .item_head {
      font-size: 0.7rem;
    }
  
    .item_content {
      font-size: 0.8rem;
    }
  
    .add_ons_outer_part2 {
      column-gap: 17rem;
    }
  
    .add_ons_outer_part2_1 {
      column-gap: 9.4rem;
    }
  
    .total_outer_div {
      column-gap: 39.8rem;
    }
  
    .section2_item_head {
      width: 30rem;
    }
  
    .section2_item1 {
      column-gap: 19.5rem;
    }
  
    .section2_item2 {
      column-gap: 20rem;
    }
  
    .section2_item3 {
      column-gap: 19.5rem;
    }
  
    .section2_item4 {
      column-gap: 22.8rem;
    }
  
    .section2_item5 {
      column-gap: 17rem;
    }
    .whole_table{
      display:block;
      /* padding: 150px; */
  }
  .table-responsive {
    overflow-x: auto;
  }
  .table2{
    padding: 0px;
    width:100%;
  }
  .custom_table1{
    width:740px;
  }
  .custom_table2{
    width:740px;

  }
  /* .table1_th1{
    width:290px;
  }
  .table1_th2{
    minWidth: 50px;
  } */
  
    .footer_content p {
      /* display: none; */
      /* margin-top: -1rem; */
    }
  }
  
  

 
  
  @media screen and  (min-width: 374px) and (max-width: 425px) {
    .head {
      position: relative;
      right: 3.2rem;
      bottom: 0.5rem;
    }
  
    .mobile{
      padding:10px;
    }
    .track_btn {
      width: 23rem;
      height: 2.5rem;
    }
  
    .track_input {
      width: 15rem;
      height: 2.4rem;
      border-radius: 0.375rem;
      border: none;
    }
  
    .track {
      width: 8rem;
      height: 2.4rem;
    }
  
    .status {
      display: block;
    }
  
    .status_item1 {
      font-size: 0.8rem;
    }
  
    .sta {
      color: #ff6d00;
    }
  
    .message_btn {
      display: none;
    }
  
    .summary {
      height: 40rem;
    }
  
    .order_item1 .para,
    .order_item2 .para,
    .order_item3 .para {
      font-size: 0.8rem;
      margin-bottom: 0rem;
    }
  
    .order_summary1 {
      display: flex;
      column-gap: 1.5rem;
    }
  
    .order_summary {
      display: block;
    }
  
    .item_head {
      font-size: 0.8rem;
    }
  
    .item_content {
      font-size: 0.8rem;
    }
  
    .contact_summary1 {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }
  
    .contact_summary_containers {
      column-gap: 2rem;
    }
  
    .other_details_summary1 {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }
  
    .other_details_summary2 {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }
  
    .section2 {
      display: block;
    }
  
    .order_head1 {
      width: 24rem;
      column-gap: 4rem;
    }
  
    .order_head2_item1 {
      width: 4rem;
    }
  
    .order_outer {
      column-gap: 2.5rem;
    }
  
    .order_inner_div1 {
      column-gap: 4rem;
    }
  
    .outer_div_head2_item2 {
      column-gap: 4.6rem;
    }
  
    .add_ons_inner_div1 {
      column-gap: 5rem;
    }
  
    .add_ons_outerpart1 {
      column-gap: 3.6rem;
    }
  
    .add_ons_outer_part2 {
      column-gap: 2.5rem;
    }
  
    .add_ons_outer_part2_1 {
      column-gap: 3.7rem;
    }
  
    .total_outer_div {
      column-gap: 18.4rem;
    }
  
    .section2_item_head {
      width: 24rem;
    }
  
    .section2_item1 {
      column-gap: 13.6rem;
      margin-top: 1rem;
    }
  
    .section2_item2 {
      column-gap: 14rem;
      margin-top: 1rem;
    }
  
    .section2_item3 {
      column-gap: 13.3rem;
      margin-top: 1rem;
    }
  
    .section2_item4 {
      column-gap: 16.4rem;
      margin-top: 1rem;
    }
  
    .section2_item5 {
      column-gap: 10.4rem;
      margin-top: 1rem;
    }
    /* .whole_table{
      display:block;
  }
  .custom_table {
    width: 100%; 
  }
  .table2{
    padding: 0px;
  }
  .table1,
  .table2 {
    max-width: 100%;
  }

  .table1_th1{
    width:100px;
  }
  .table1_th2{
    width: 20px;
  } */
  .whole_table{
    display:block;
}
.table-responsive {
  overflow-x: auto;
  width:320px;

}
.table1{
  width:300px;
}
.custom_table1{
  width:300px;
}
.table2{
  padding: 0px;
  width:320px;
}
.row{
  width:300px;
}
.custom_table2{
  width:360px;
}  
  
    .footer_content p {
      display: none;
    }
  }
  
  