<div class="Pm1">
    <h3>&ensp;Party Menu</h3>
    </div>


<div class="container">
<div class="row row-cols-1 row-cols-lg-4 g-2 g-lg-3">
<div class="col">
  <div class="p-3 border bg-light">
    <h3>Snacks/Apperizers<br>SP1SN<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
                       
    <ul>
      <li><strong>Samosa</strong></li>
      <li><strong>Dahi Bhalla Chaat</strong></li>
      <li><strong>Vegetable Puffs</strong></li>
      <li><strong>Mini Rava Idli</strong></li>
      <li><strong>    </strong></li>
      <li><strong>Panneer Tikka</strong></li>
      <li><strong>Tandoori Chicken/Chicken Tikka</strong></li>
      <li><strong>Tandoori Fish Tikka</strong></li>
      </ul>
  </div>
</div>


<div class="col">
  <div class="p-3 border bg-light">
    <h3>Indian Drinks<br>SP1ID<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
        <li><strong>Mango Lassi</strong></li>
        <li><strong>Nimbu Pani</strong></li>
        <li><strong>Jal Jeera</strong></li>
        <li><strong>Ginger Tea</strong></li>
        <li><strong>Masala Chai</strong></li>
        <li><strong>Jaljeera Mojito(Cocktail)</strong></li>
      </ul>
  </div>

</div>

<div class="col">
  <div class="p-3 border bg-light">
    <h3>Paneer &amp; Vegetable Entrees<br>SP1VE<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
    <ul>
        <li><strong>Paneer Butter Masala</strong></li>
        <li><strong>Paneer Tikka Masala</strong></li>
        <li><strong>Palak Paneer</strong></li>
        <li><strong>Kadai Paneer</strong></li>
        <li><strong>Matar Paneer</strong></li>
        <li><strong>Vegetable Kurma</strong></li>
        <li><strong>Aloo Gobi</strong></li>
       </ul>
</div>
</div>

<div class="col">
  <div class="p-3 border bg-light">
    <h3>Non Veg Entrees<br>SP1NE<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
                     <ul>
                        <li><strong>Chicken Tikka Masala</strong></li>
                        <li><strong>Restaurant-style Butter Chicken</strong></li>
                        <li><strong>Chicken Curry</strong></li>
                        <li><strong>Saag Chicken</strong></li>
                        <li><strong>Chicken Kurma</strong></li>
                        <li><strong>Dhaba Style Keema</strong></li>
                        <li><strong>Mutton Curry</strong></li>
                      </ul>
        </div>
</div>

<div class="col">
  <div class="p-3 border bg-light">
    <h3>Indian Dessert &amp; Sweets<br>SP1DS<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
                      <ul>
                        <li><strong>Moong Dal Halwa</strong></li>
                        <li><strong>Rasmalai</strong></li>
                        <li><strong>Kesar Badam Halwa</strong></li>
                        <li><strong>Carrot Halwa</strong></li>
                        <li><strong>Kheer</strong></li>
                        <li><strong>Carrot Burfi</strong></li>
                        <li><strong>Mango Cheesecake</strong></li>
                        <li><strong>Besan Ladoos</strong></li>
                        <li><strong>Milk Cake</strong></li>
                        <li><strong>Baked Gujiya</strong></li>
                        <li><strong>Kulfi Ice cream</strong></li>
                        <li><strong>Coconut Ladoo</strong></li>
                        
                      </ul>
  </div>
</div>

<div class="col">
  <div class="p-3 border bg-light">
    <h3>Tamil Dishes<br>TD1DS<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
                      <ul>
                        <li><strong>Sweet Corn/Tomato Bread Soup</strong></li>
                        <li><strong>Kothi Halwa/Matai Sandwich</strong></li>
                        <li><strong>Basundhi/Angoor Basundhi</strong></li>
                        <li><strong>Ilaneer Payasam/Litchee Sweet</strong></li>
                        <li><strong>Kola Urundai/Parveen Panneer</strong></li>
                        <li><strong>Veg Lollypop/Baby Corn 65</strong></li>
                        <li><strong>Stuffed Parotta/Rumali Roti</strong></li>
                        <li><strong>Veg Chops/Cashew Pepper Masala</strong></li>
                        <li><strong>Phulka /Triangle Chappathi</strong></li>
                        <li><strong>Malai Kofta/Kadai Panneer Gravy</strong></li>
                        <li><strong>Panneer Dosai/Ghee Podi Dosai</strong></li>
                        <li><strong>Ilaneer Idly/Pizza Idly</strong></li>
                        <li><strong>Kadalai Gravy/Chilli, Tamarind Chutney</strong></li>
                        <li><strong>Palakai Biryani/Mushroom Biryani</strong></li>
                        <li><strong>Brinjal Talichi/Onion Raitha</strong></li>
                        <li><strong>Sczhewan Noodles/Sczhewan Fried Rice</strong></li>
                        <li><strong>Bisibelabath/Kadamba Sambar</strong></li>
                        <li><strong>Brinjal Mochai Chops/Senai Chops</strong></li>
                        <li><strong>National Poriyal/Beans Parupu Usili</strong></li>
                        <li><strong>Bagalabath/Semiya Bagalabath</strong></li>
                       
                      </ul>
  </div>
</div>

<div class="col">
  <div class="p-3 border bg-light">
    <h3>Startup Dish<br>SD1ST<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
                      <ul>
                        <li><strong>Bed Coffee</strong></li>
                        <li><strong>Pineapple Pudding/Kesari</strong></li>
                        <li><strong>Medu Vadai/Special Vadai</strong></li>
                        <li><strong>Rava Idly/Mallipoo Idly</strong></li>
                        <li><strong>Ghee Pongal/Rava Kichadi</strong></li>
                        <li><strong>Poori/Idiyappam</strong></li>
                        <li><strong>Potato Masala/Veg Paya</strong></li>
                        <li><strong>Coconut Chutney</strong></li>
                        <li><strong>Chilli Chutney</strong></li>
                        <li><strong>Sambar</strong></li>
                        <li><strong>Coffee</strong></li>
                        <li><strong>Mineral Water Bottle</strong></li>
                      </ul>
  </div>
</div>

<div class="col">
  <div class="p-3 border bg-light">
    <h3>Startup Dish 2<br>SD1S2<img src="https://hogist.com/hogist-menu-bank/assets/img/v.png" alt="" align="right" class="icon"></h3>
                      <ul>
                        <li><strong>Bed Coffee</strong></li>
                        <li><strong>Apple Pudding/Asoka Halwa</strong></li>
                        <li><strong>Medhu Vadai/Special Vadai</strong></li>
                        <li><strong>Heartin Idly/Idly</strong></li>
                        <li><strong>Ghee Pongal/Rava Pongal</strong></li>
                        <li><strong>Idiyappam/Kuzhi Paniyaram</strong></li>
                        <li><strong>Poori/Methi Poori</strong></li>
                        <li><strong>Chenna Masala/Baby Corn Masala</strong></li>
                        <li><strong>Coconut Chutney</strong></li>
                        <li><strong>Chilli Chutney</strong></li>
                        <li><strong>Sambar</strong></li>
                        <li><strong>Coffee</strong></li>
                        <li><strong>Mineral Water Bottle</strong></li>
                      </ul>
  </div>
</div>

<div class="ending-of-selectevent">
  <a [routerLink]="['orderpage']"><button class="btn btn-success" type="submit">Book Here</button></a>
</div>

</div>
</div>