
    <div class="marquee-lead">
    <marquee><h3>We provide value to customers, Our motive is to earn more value rather than earning money</h3></marquee>
    </div>
    <div class="image">
    <div class="table">
    <h2>Choose your Event</h2>
    <div class="table-data">
    <table>

    <tr>
    <td>
    <label for="name">Name</label>
    </td>
    <td>
    <input type="text" placeholder="Name" id="name" required><br>
    </td>
    </tr>
    <tr>
    <td>
    <label for="mobilenumber">Mobile Number</label>
    </td>
    <td>
    <input type="text" id="mobilenumber" placeholder="Mobile Number" minlength="10" maxlength="10" required><br>
    </td>
    </tr>
    <tr>
    <td>
    <label for="email">Email</label>
    </td>
    <td>
    <input type="email" placeholder="Email ID" id="email" required>
    </td>
    </tr>
    <tr>
    <td>
    <label>Select Your Event</label>
    </td>
    <td>
    <select id="events">
    <option id="none">None</option>
    <option id="marriage">Marriage</option>
    <option id="corporate">Corporate</option>
    <option id="industry">Industry</option>
    <option id="Party">Party</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    <label >Choose your Chef</label>
    </td>
    <td>
    <input list="chef">
    <datalist id="chef">
    <option >Vivek</option>
    <option >Damu</option>
    <option >Akash</option>
    <option >Venkat</option>
    <option >Priya</option>
    </datalist>
    </td>
    </tr>
    <tr>
    <td>
    <label for="advance">Advance Payment</label>
    </td>
    <td>
    <input type="text" placeholder="3000" id="advance" required>
    </td>
    </tr>

    <tr>
    <td>
    <label for="card-number">Card Number</label>
    </td>
    <td>
    <input type="text" id="card" placeholder="xxxx xxxx xxxx xxxx" maxlength="16" minlength="16" required>
    </td>
    </tr>
    <tr>
    <td>
    <label for="cvv">CVV</label></td>
    <td>
    <input type="text" placeholder="xxx" minlength="3" maxlength="3" id="cvv" required>
    </td>
    </tr>
    <tr>
    <td rowspan="2">
    <button class="btn btn-primary" id="submit" type="button" onclick="table_validate()">Submit</button></td>
    <td>
    <button class="btn btn-danger" type="button" onclick="table_validate2()">Cancel</button>
    </td>
    </tr>
    <tr>
    <td rowspan="2">

    </td>
    </tr>
    </table>
    <div id="display">

    </div>
    <div id="display1">

    </div>

    </div>
    </div>



    </div>
    

