<div class="bg-img">
    <p>Your Dreams Comes True..</p>
</div>
<div class="background-img">
<div class="bg-img2">
    <p>We Deliver For You</p>
</div>
</div>
<div class="bg-img3">
    
</div>

<div class="head-below">
<h2>Select your event, Then sit back and relax </h2>
</div>
<div class="services">
  
    <div class="marriage">
        <a [routerLink]="['marriage']">   <h3>Marriage Catering</h3></a>
    </div>
    
    <div class="party">
        <a [routerLink]="['party']"> <h3>Party Catering</h3></a>
    </div>
    <div class="corporate"> 
       <a [routerLink]="['corporate']"> <h3>Corporate Catering</h3></a>
    </div>
    <div class="industry">
        <a [routerLink]="['industrial']"> <h3>Industrial Catering</h3></a>
    </div>
</div>
<div class="chef-flex">
<h2>Our Popular Chef</h2>
    </div>
<div class="chef">
    <div class="chef1">
        <img src="../../assets/chef1.jpg" width="200px" height="200px">
        <h4>Chef Vivek  </h4>
    </div>
    <div class="chef2">
        <img src="../../assets/chef2.jfif" width="200px" height="200px">
        <h4>Chef Damu</h4>
    </div>
    <div class="chef3">
        <img src="../../assets/chef3.jfif" width="200px" height="200px">
        <h4>Chef Venkat</h4>
    </div>
    <div class="chef4">
        <img src="../../assets/chef4.jpg" width="200px" height="200px">
        <h4>Chef Akash</h4>
    </div>
    <div class="chef5">
        <img src="../../assets/chef5.jpg" width="200px" height="200px">
        <h4>Chef Priya</h4>
    </div>
</div>
